*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn{
  margin-top: 50px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 40px;
  width: 200px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  
  transition: all 0.2s ease-in-out;
}
.btn:hover{
  background-color: #e0e0e0;
  transform: scale(1.05);
}



.signin{
  height : 100vh;
  width: 100vw;
  background-image: url("./assets/E-LEARNING2.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-container{
  color: aqua;
  width: 60vw;
  height: 80vh;
  background-color: black;
  opacity: 0.8;
  border-radius: 50px;
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.input{
  width:100%;
  display: flex;
  flex-direction: column;
}

label{
  margin-bottom: 10px;
  font-size: 20px;
  /* align-items:flex-start; */
}

.inputs{
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex: 1 1 auto;
}



.sidepanel{
  height: 100vh;
  width: 25%;
  background-color: lightskyblue;
  text-align: center;

}

.sidepanel h1{
  padding-top: 20px;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 30px;
}

.sidepanelcards{
  height: 20vh;
  width: 100%;
  background-color: blue;
  /* text-align: center; */
  font-size: 30px;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.box-container{
  width: 75%;
  display: flex;
  flex-direction: column;
}


.btn-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10% 0 10% ;
}

.info-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
  padding: 0 10% 0 10% ;
  text-align: center;
}